<header id="cabecalho">
  <div class="container">
    
    <div id="logo" onmouseover="late();"></div>
    <h1>PET SHOP</h1>
    <div class="clear"></div> <!-- servira como um divisor (clearfix) -->
    <nav id="menu">
      <a id="home" href="index.html">home</a>
      <a id="produtos" href="#">produtos</a>
      <a id="galeria" href="galeria.html">galeria</a>
      <a id="servicos" href="#">serviços</a>
      <a id="contato" href="contato.html">contato</a>
    </nav>
  </div>
</header>

<!-- CONTEUDO DA PAGINA -->
<section id="secao-home">
  <div id="coluna1">
    <article>
      <p>Mussum Ipsum, cacilds vidis litro abertis. Quem num gosta di mé, boa gentis num é. Tá deprimidis, eu conheço uma cachacis que pode alegrar sua vidis. In elementis mé pra quem é amistosis quis leo. Aenean aliquam molestie leo, vitae iaculis nisl.</p>
    </article>    
    <article id="artigo2">
      <p>Mussum Ipsum, cacilds vidis litro abertis. Quem num gosta di mé, boa gentis num é. Tá deprimidis, eu conheço uma cachacis que pode alegrar sua vidis. In elementis mé pra quem é amistosis quis leo. Aenean aliquam molestie leo, vitae iaculis nisl.</p>
    </article> 
  </div>
  
  <div id="coluna2">
    <article>
      <p>Mussum Ipsum, cacilds vidis litro abertis. Quem num gosta di mé, boa gentis num é. Tá deprimidis, eu conheço uma cachacis que pode alegrar sua vidis. In elementis mé pra quem é amistosis quis leo. Aenean aliquam molestie leo, vitae iaculis nisl.</p>
    </article> 
  </div>  
  <div class="clear"></div>
</section>
<!-- FIM DE CONTEUDO DA PAGINA -->

<footer id="rodape">Rua São Francisco da Califórnia, 23 - Porto Alegre</footer>