<header id="cabecalho">
  <div class="container">
    
    <div id="logo" onmouseover="late();"></div>
    <h1>PET SHOP</h1>
    <div class="clear"></div> <!-- servira como um divisor (clearfix) -->
    <nav id="menu">
      <a id="home" routerLinkActive="active" routerLink="home">home</a>
      <a id="produtos" routerLinkActive="active" routerLink="products">produtos</a>
      <a id="galeria" routerLinkActive="active" routerLink="gallery">galeria</a>
      <a id="servicos" routerLinkActive="active" routerLink="services">serviços</a>
      <a id="contato" routerLinkActive="active" routerLink="contact">contato</a>
    </nav>
  </div>
</header>